.title-text, .contacts-block{
    text-align: center;
}

.image-partners-siyanie{
    height: 120px;
}
.image-partners-smena{
    /* width: 200px; */
    height: 60px;
    margin-top: 11%;
}

.social-icon{
    width: 34px;
    height: 34px;
}
p{
    font-size: var(--h5);
}

h1, p, a, h3{
    font-family: Plumb;
}

@font-face{
    src: url(./font/plumb-bold.otf);
    font-family: Plumb;
}

a:hover{
    text-decoration: none;
}
a{
    color: black;
}
.socialblock{
    text-align: center;
    padding-top: 2%;
}
.contacts-block{
    padding-top: 3%;
}
.partners{
    padding-top: 3%;
    text-align: center;
}
.partner-text{
    text-align: center;
}
