@font-face{
    src: url(./font/plumb-bold.otf);
    font-family: Plumb;
}
p{
    font-size: var(--h5);
}

h1, p, a, h3{
    font-family: Plumb;
}
a:hover{
    text-decoration: none;
    color: red;
}
a{
    color: black;
}
.main{
    position: absolute;
    top: calc(50% - 300px);
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.title-text, .contacts-block{
    /* text-align: center; */
}

.image-partners-siyanie{
    height: 80px;
}
.image-partners-smena{
    /* width: 200px; */
    height: 34px;
    margin-top: 7%;
}
.image-partners-qullar{
    height: 34;
}

.social-icon{
    width: 34px;
    height: 34px;
}
.phone{
    padding-left: 1%;
}

.catalog{
    text-decoration: none;
    background-image: linear-gradient(to right, black, black);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .5s ease;
}
.catalog:hover{
    background-size: 100% 2px;
    color: red;
}
.socialblock{
    text-align: center;
    padding-top: 2%;
    display: inline-block;
}
.contacts-block{
    padding-top: 3%;
}
.partners{
    padding-top: 8%;
    text-align: center;
}
.partner-text{
    text-align: center;
}

.elementblok{
    padding-top: 4%;
}


@media screen and (max-width: 500px) {
  /* .phones{
      padding-top: 7%;
  } */
  .siyane-block{
    padding-top: 7%;
  }
  .order, .promo{
      padding-top: 7%;
  }
  .phone{
    width: 250px;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 11%;
  }
  .socialblock{
      text-align: center;
  }
  .icon-facebook{
      width: 70px;
  }
}
